.edit-post-post-link__link-post-name {
	font-weight: 600;
}

.edit-post-post-link__preview-label {
	margin: 0;
}

.edit-post-post-link__link {
	word-wrap: break-word;
}

/* rtl:begin:ignore */
body.rtl .edit-post-post-link__preview-link-container {
	direction: ltr;
	float: right;
}
/* rtl:end:ignore */
